{{ define "app.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link href="public/css/main.css" rel="stylesheet">
    </head>
    <body>
        <h1>logado</h1>
    </body>
</html>
{{ end }}
