{{ define "financas.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="public/css/main.css" rel="stylesheet">
    </head>
    <style>
html {
    box-sizing: border-box;
}
    </style>
    <body class="bg-pretoTransparente" >
        <div class="flex flex-col text-white justify-center items-center p-4">
            <div class="flex flex-col w-5/6 h-2/4 justify-around items-center rounded-appMajor p-4 border-azul border">
                <h1 class=" text-4xl p-2 text-azul">Simule o seu CDB!</h1>
                <div class="flex flex-col w-full items-center">
                    <div class="flex w-5/6 justify-center">
                        <input type="number" name="valor_inicial" class="m-1 w-2/4  bg-neutral-900 rounded-app my-1 p-3" placeholder="R$ Valor inicial" value="">
                        <input type="number" name="aporte_mensal" class=" w-2/4 bg-neutral-900 rounded-app my-1 p-3" placeholder="R$ Aporte mensal" value="">
                    </div>
                    <div class="flex w-5/6 justify-center">
                        <input type="number" name="aporte_semestral" class="m-1 w-2/4  bg-neutral-900 rounded-app my-1 p-3" placeholder="R$ Aporte Semestral" value="">
                        <input type="date" name="data_final" class=" w-2/4 bg-neutral-900 rounded-app my-1 p-3" placeholder="Data final" value="">
                    </div>
                    <select name="tipo_frequencia_aumento_aporte" id="tipo-aumento-frequencia" class=" w-5/6 bg-neutral-900 rounded-app my-1 p-3" placeholder="Tipo frequencia" value="">
                        <option value="false">Sem aumento</option>
                        <option value="semestral">Semestral</option>
                        <option value="anual">Anual</option>
                    </select>
                    <input id="valor_aumento_aporte" type="number" name="valor_aumento_aporte" class="hidden  w-5/6 bg-neutral-900 rounded-app my-1 p-3" placeholder="R$ Valor amumento aporte" value="">
                </div>
                <div class="w-full flex items-center justify-center">
                    <button id="calcular" class="rounded-appMinor w-3/6 mx-1 bg-azul my-1 text-white p-3" type="submit">Calcular</button>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center w-5/6 border border-white">
                <h1 class=" text-4xl p-2 text-azul">Resultado!</h1>
                <div id="alvo-calculo" class="flex flex-col w-full border border-red-500 h-fit rounded-appMajor">
                    <h1 class="text-4xl text-azul text-center">Anos</h1>
                    <div class="flex border border-blue-500 w-full justify-around">
                        <div class="border border-green-500 flex flex-col">
                            <h2 class="w-full text-center">10/11/2024 - 10/11/2026</h2>
                            <span>Valorização: R$ 500,00</span>
                            <span>Resultado: R$ 19.000,00</span>
                            <span>Valor gasto: R$ 19.000,00</span>
                            <div class="flex w-full justify-center items-center">
                                <button class="expandir rounded-appMinor w-3/6 mx-1 bg-azul my-1 text-white p-3" type="button">Expandir</button>
                            </div>
                        </div>
                        <div class="border border-yellow-500 flex flex-col">
                            <h2 class="w-full text-center">10/11/2025 - 10/11/2026</h2>
                            <span>Valorização: R$ 500,00</span>
                            <span>Resultado: R$ 19.000,00</span>
                            <span>Valor gasto: R$ 19.000,00</span>
                            <div class="flex w-full justify-center items-center">
                                <button class="expadir rounded-appMinor w-3/6 mx-1 bg-azul my-1 text-white p-3" type="button">Expandir</button>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="flex border border-blue-500 w-full justify-around">
                        <div class="border border-yellow-500 flex flex-col">
                            <h2 class="w-full text-center">10/11/2025 - 10/05/2026</h2>
                            <span>Valorização: R$ 15,00</span>
                            <span>Resultado: R$ 1.000,00</span>
                            <span>Valor gasto: R$ 5.000,00</span>
                            <span>Valor aporte: R$ 500,00</span>
                            <div class="flex w-full justify-center items-center">
                                <button class="expadir rounded-appMinor w-3/6 mx-1 bg-azul my-1 text-white p-3" type="button">Vizualizar meses</button>
                            </div>
                        </div>
                        <div class="border border-yellow-500 flex flex-col">
                            <h2 class="w-full text-center">10/11/2025 - 10/12/2025</h2>
                            <span>Valorização: R$ 15,00</span>
                            <span>Resultado: R$ 1.000,00</span>
                            <span>Valor gasto: R$ 5.000,00</span>
                            <span>Valor aporte: R$ 500,00</span>
                            <div class="flex w-full justify-center items-center">
                                <button class="expadir rounded-appMinor w-3/6 mx-1 bg-azul my-1 text-white p-3" type="button">Vizualizar meses</button>
                            </div>
                        </div>
                        <div class="border border-yellow-500 flex flex-col">
                            <h2 class="w-full text-center">10/11/2025</h2>
                            <span>Valorização: R$ 15,00</span>
                            <span>Resultado: R$ 1.000,00</span>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
</html>
{{ end }}
