{{ define "financas.v3.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Simular Investimento JC</title>
        <link href="/public/css/main.css" rel="stylesheet">
        <link href="/public/css/financas.css" rel="stylesheet">
<style>
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

    .animate-fade-in {
        animation: fade-in 1s ease-in-out forwards;
    }
</style>
    </head>
    <body class="bg-pretoTransparente flex flex-col min-w-screen items-center min-h-screen" >
        <header class="fixed top-0 left-0 w-full bg-neutral-900 shadow-md z-50">
            <div class="flex justify-between items-center px-6 py-4">
                <div class="flex items-center">
                    <img src="/public/images/logo-simples.svg" alt="Logo" class="w-12 h-12 mr-3">
                    <span class="text-xl font-bold text-gray-300">Simular Investimento JC</span>
                </div>
                <nav class="hidden md:flex space-x-6">
                    <a href="#formulario_calcular" class="text-gray-300 hover:text-white transition">Simular</a>
                    <a href="#contato" class="text-gray-300 hover:text-white transition">Contato</a>
                </nav>
                <button class="md:hidden text-gray-300 hover:text-white focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </header>
        <main class="h-full w-full">
            <div id=""  class="flex flex-col w-full text-white justify-center items-center p-4">
                <div class="flex flex-col w-5/6 h-2/4 justify-around items-center rounded-appMajor p-4">
                    <div class="flex flex-col items-center mb-4">
                        <p class="text-lg text-gray-400 max-w-xl text-center opacity-75">
                        Preencha as informações abaixo para simular seu CDB.
                        </p>
                    </div>
                    {{if .erros_formulario }}
                    <div class="w-full sm:w-5/6 md:w-3/4 lg:w-1/2 bg-gradient-to-r from-red-800 via-red-900 to-red-800 text-white p-4 rounded-lg shadow-xl mt-6">
                        <ul class="list-inside text-sm space-y-2">
                            {{range $chave, $valor := .erros_formulario}}
                            {{range $_, $valor_erro := $valor}}
                            <li class="flex items-start space-x-2">
                                <span class="w-1 h-1 rounded-full bg-gray-600 mt-1"></span>
                                <p class="text-gray-200">{{ $valor_erro }}</p>
                            </li>
                            {{end}}
                            {{end}}
                        </ul>
                    </div>
                    {{ end  }}
                    {{if .panic }}
                    <div class="w-full sm:w-5/6 md:w-3/4 lg:w-1/2 bg-gradient-to-r from-red-800 via-red-900 to-red-800 text-white p-4 rounded-lg shadow-xl mt-6">
                        <ul class="list-inside text-sm space-y-2">
                            <li class="flex items-start space-x-2">
                                <span class="w-1 h-1 rounded-full bg-gray-600 mt-1"></span>
                                <p class="text-gray-200">{{ .panic }}</p>
                            </li>
                        </ul>
                    </div>
                    {{ end  }}
                    {{if .message }}
                    <div class="w-full sm:w-5/6 md:w-3/4 lg:w-1/2 bg-blue-800 text-white p-4 rounded-lg shadow-xl mt-6">
                        <ul class="list-inside text-sm space-y-2">
                            <li class="flex items-start space-x-2">
                                <span class="w-1 h-1 rounded-full bg-gray-600 mt-1"></span>
                                <p class="text-gray-200">{{ .message }}</p>
                            </li>
                        </ul>
                    </div>
                    {{ end  }}

                    <form action="/v2/simular-jc" method="POST" id="formulario_calcular" class="flex flex-col w-full items-center">
                        <div class="flex flex-col sm:flex-row w-5/6 justify-center">
                            <div class="flex flex-col m-1 sm:w-2/4 w-full">
                                <label for="valor_inicial" class="text-gray-400 text-sm mb-1">
                                    Dinheiro em caixa hoje
                                    <span class="text-gray-500">(Ex.: 10000)</span>
                                </label>
                                <input type="hidden" id="valor_inicial_input" name="valor_inicial" value="">
                                <input id="valor_inicial" type="text" step="any"
                                class="bg-neutral-900 rounded-lg shadow-md p-3 text-gray-300 placeholder-gray-500 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all duration-300"
                                placeholder="Insira o valor" value="$ 0,0">
                                <span class="text-red-500 text-xs mt-1 hidden" id="error_valor_inicial"></span>
                            </div>
                            <div class="flex flex-col m-1 sm:w-2/4 w-full">
                                <label for="valor_aporte" class="text-gray-400 text-sm mb-1">
                                    Valor Aporte Mensal
                                    <span class="text-gray-500">(Ex.: 500)</span>
                                </label>
                                <input type="hidden" name="valor_aporte" id="valor_aporte_input" value="">
                                <input
                                id="valor_aporte"
                                type="text"
                                class="bg-neutral-900 rounded-lg shadow-md p-3 text-gray-300 placeholder-gray-500 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all duration-300"
                                placeholder="Insira o valor"
                                value="$ 0,0"
                                />
                                <span class="text-red-500 text-xs mt-1 hidden" id="error_valor_aporte"></span>
                            </div>
<!--                            <div class="flex flex-col m-1 sm:w-2/4 w-full">
                                <label for="valor_aporte" class="text-gray-400 text-sm mb-1">
                                    Valor Aporte Mensal
                                    <span class="text-gray-500">(Ex.: 500)</span>
                                </label>
                                <input id="valor_aporte" type="number" step="any" name="valor_aporte"
                                class="bg-neutral-900 rounded-lg shadow-md p-3 text-gray-300 placeholder-gray-500 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all duration-300"
                                placeholder="Insira o valor" value="">
                                <span class="text-red-500 text-xs mt-1 hidden" id="error_valor_aporte"></span>
</div>-->
                        </div>
                        <div class="flex flex-col sm:flex-row w-5/6 justify-center">
                            <div class="flex flex-col m-1 sm:w-2/4 w-full">
                                <label for="valor_taxa_anual" class="text-gray-400 text-sm mb-1">
                                    Valor Taxa Anual
                                    <span class="text-gray-500">(Selic.: {{ .taxa_selic }} %)</span>
                                </label>
                                <input type="hidden" name="valor_taxa_anual" id="valor_taxa_anual_input">
                                <input id="valor_taxa_anual" type="text" step="any"
                                class="bg-neutral-900 rounded-lg shadow-md p-3 text-gray-300 placeholder-gray-500 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all duration-300"
                                placeholder="Insira o valor"
                                value="% {{ .taxa_selic }}">
                                <span class="text-red-500 text-xs mt-1 hidden" id="error_valor_taxa_anual"></span>
                            </div>
                            <div class="flex flex-col sm:flex-row w-5/6 justify-center">
                                <div class="flex flex-col m-1 sm:w-2/4 w-full">
                                    <label for="data_final_opcao" class="text-gray-400 text-sm mb-1">
                                        Data do resgate
                                    </label>
                                    <select data-ignore_input="1" id="data_final_opcao" name="data_final_opcao"
                                        class="bg-neutral-900 rounded-lg shadow-md p-3 text-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all duration-300">
                                        <option value="6" selected>6 meses</option>
                                        <option value="1">1 ano</option>
                                        <option value="5">5 anos</option>
                                        <option value="10">10 anos</option>
                                        <option value="20">20 anos</option>
                                        <option value="data_especifica">Data específica</option>
                                    </select>
                                    <span class="text-red-500 text-xs mt-1 hidden" id="error_data_final_opcao"></span>
                                </div>
                                <div class="flex flex-col m-1 sm:w-2/4 w-full hidden" id="data_especifica_wrapper">
                                    <label for="data_final" class="text-gray-400 text-sm mb-1">
                                        Data Específica
                                        <!--<span class="text-gray-500">(Ex.: 2025-12-31)</span>-->
                                    </label>

                                    <input id="data_final" type="date" name="data_final"
                                    class="bg-neutral-900 rounded-lg shadow-md p-3 text-gray-300 placeholder-gray-500 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all duration-300"
                                    value="">
                                    <span class="text-red-500 text-xs mt-1 hidden" id="error_data_final"></span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col m-1 w-5/6">
                            <label for="dias_liquidez_por_ano" class="text-gray-400 text-sm mb-1">
                                Quantidade de dias de liquidez por ano
                            </label>
                            <select name="dias_liquidez_por_ano" id="tipo_dias_liquidez_por_ano"
                                class="bg-neutral-900 rounded-lg shadow-md p-3 text-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all duration-300">
                                <option value="255"> 255 - Dias úteis (Mercado financeiro brasileiro)</option>
                                <option value="366">366/365 - Todos os dias do ano</option>
                                <option value="12">12 - Todo mês</option>
                            </select>
                        </div>
                        <input id="data_inicial" type="hidden" name="data_inicial" value="">
                        <input type="hidden" name="gorilla.csrf.Token" value="{{ .csrf }}">

                        <button id="calcular" type="submit" class="flex my-1 items-center justify-center rounded-lg w-5/6 mx-1 bg-gray-700 text-gray-300 py-3 px-4 font-medium hover:bg-gray-600 hover:text-white transition-all duration-300">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 6h6m-6-12h6" />
                            </svg>
                            Simular
                        </button>
                    </form>
                </div>
            </div>
            {{if .valorizacao  }}
            <div id="resultados_container" class="flex flex-col justify-center items-center mb-4 w-full">
                <div class="flex flex-col w-5/6">
                    <div class="flex flex-col sm:flex-row w-full mb-2 justify-center">
                        <div class="flex flex-col m-1 sm:w-2/4 w-full">
                           <!-- <label for="periodo" class="text-gray-400 text-sm mb-1">
                                Escolha o Período
                            </label>
                            <select id="resultado-opcoes" data-ignore_input="1" class="bg-neutral-900 rounded-lg shadow-md p-3 text-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none transition-all duration-300">
                                <option value="geral">Resultado Geral</option>
                                <option value="dias">Rentabilidade por dias</option>
                                <option value="meses">Rentabilidade por meses</option>
                                <option value="semestres">Rentabilidade por semestres</option>
                                <option value="anos">Rentabilidade por anos</option>
                           </select>-->
                        </div>
                    </div>

                    <div id="resultadoGeralInfo" class="flex flex-col w-full justify-around">
                        <div id="resultadoGeralInfoPeriodo" class="flex w-full justify-center p-4">
                            <div class="grid gap-4 p-4 rounded-lg w-full max-w-4xl grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
                                <div class="flex flex-col items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/pilha-dinheiro.svg" alt="Rentabilidade">
                                    <span id="display_valorizacao" class="text-white text-lg font-semibold valor_resultado_info">R$ {{ .valorizacao }}</span>
                                    <span class="text-gray-400 text-sm">Rentabilidade</span>
                                </div>
                                <div class="flex flex-col items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/icons8-money-with-wings-48.png" alt="Investido">
                                    <span id="display_valor_investido" class="text-white text-lg font-semibold valor_resultado_info">R$ {{ .valor_investido }}</span>
                                    <span class="text-gray-400 text-sm">Investido</span>
                                </div>
                                <div class="flex flex-col items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/icons8-race-flag-64.png" alt="Valor inicial">
                                    <span id="display_valor_inicial" class="text-white text-lg font-semibold valor_resultado_info">R$ {{ .valor_inicial }}</span>
                                    <span class="text-gray-400 text-sm">Valor inicial</span>
                                </div>
                                <!-- Novo card para porcentagem -->
                                <div class="flex flex-col items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/icons8-up-64.png" alt="Porcentagem de Aumento">
                                    <span id="display_porcentagem_aumento" class="text-white text-lg font-semibold valor_resultado_info">{{ .retorno_sobre_investimento }} %</span>
                                    <span class="text-gray-400 text-sm">Aumento de Caixa</span>
                                </div>
                                <div class="flex flex-col items-center bg-gray-700 p-6 rounded-md col-span-2 sm:col-span-2 md:col-span-2 animate-fade-in">
                                    <img class="w-10 h-10 mb-3" src="/public/images/juros.svg" alt="Juros Rendido">
                                    <span id="display_juros_rendido" class="text-white text-2xl font-bold">R$ {{ .juros_rendido }}</span>
                                    <span class="text-white text-lg">Juros</span>
                                </div>
                                <div class="flex flex-col items-center bg-green-700 p-6 rounded-md col-span-2 sm:col-span-2 md:col-span-2 animate-fade-in">
                                    <img class="w-10 h-10 mb-3" src="/public/images/icons8-money-48.png" alt="Valor final">
                                    <span id="display_valor_final" class="text-white text-2xl font-bold">R$ {{ .valor_final }}</span>
                                    <span class="text-white text-lg">Valor final</span>
                                </div>
                            </div>
                        </div>
                        {{if .dados_processados}}
                        <div id="dias_resultado_processado" class="flex hidden justify-around sm:flex-col flex-row">
                            <div class="flex flex-col w-full sm:flex-row sm:mb-2 sm:justify-center gap-4">
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/pilha-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Dia.MaiorValorizacao.Valorizacao }}</span>
                                    <span class="text-gray-400 text-sm">Maior rentabilidade</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/saco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Dia.MaiorValorizacao.ResultadoComValorizacao  }}</span>
                                    <span class="text-gray-400 text-sm">Caixa</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/calendario.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado">{{ .dados_processados.Dia.MaiorValorizacao.Data }}</span>
                                    <span class="text-gray-400 text-sm">Data</span>
                                </div>
                            </div>
                            <div class="flex flex-col w-full sm:flex-row sm:justify-center gap-4">
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/pilha-pouco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Dia.MenorValorizacao.Valorizacao }}</span>
                                    <span class="text-gray-400 text-sm">Menor rentabilidade</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/saco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Dia.MenorValorizacao.ResultadoComValorizacao  }}</span>
                                    <span class="text-gray-400 text-sm">Caixa</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/calendario.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado">{{ .dados_processados.Dia.MenorValorizacao.Data }}</span>
                                    <span class="text-gray-400 text-sm">Data</span>
                                </div>
                            </div>
                        </div>
                        <div id="meses_resultado_processado" class="flex hidden justify-around sm:flex-col flex-row">
                            <div class="flex flex-col w-full sm:flex-row sm:mb-2 sm:justify-center gap-4">
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/pilha-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Mes.MaiorValorizacao.Valorizacao }}</span>
                                    <span class="text-gray-400 text-sm">Maior rentabilidade</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/saco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Mes.MaiorValorizacao.ResultadoComValorizacao  }}</span>
                                    <span class="text-gray-400 text-sm">Caixa</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/calendario.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado">{{ .dados_processados.Mes.MaiorValorizacao.Data }}</span>
                                    <span class="text-gray-400 text-sm">Data</span>
                                </div>
                            </div>
                            <div class="flex flex-col w-full sm:flex-row sm:justify-center gap-4">
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/pilha-pouco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Mes.MenorValorizacao.Valorizacao }}</span>
                                    <span class="text-gray-400 text-sm">Menor rentabilidade</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/saco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Mes.MenorValorizacao.ResultadoComValorizacao  }}</span>
                                    <span class="text-gray-400 text-sm">Caixa</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/calendario.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado">{{ .dados_processados.Mes.MenorValorizacao.Data }}</span>
                                    <span class="text-gray-400 text-sm">Data</span>
                                </div>
                            </div>
                        </div>
                        <div id="semestres_resultado_processado" class="flex hidden justify-around sm:flex-col flex-row">
                            <div class="flex flex-col w-full sm:flex-row sm:mb-2 sm:justify-center gap-4">
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/pilha-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Semestre.MaiorValorizacao.Valorizacao }}</span>
                                    <span class="text-gray-400 text-sm">Maior rentabilidade</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/saco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Semestre.MaiorValorizacao.ResultadoComValorizacao  }}</span>
                                    <span class="text-gray-400 text-sm">Caixa</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/calendario.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado">{{ .dados_processados.Semestre.MaiorValorizacao.Data }}</span>
                                    <span class="text-gray-400 text-sm">Data</span>
                                </div>
                            </div>
                            <div class="flex flex-col w-full sm:flex-row sm:justify-center gap-4">
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/pilha-pouco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Semestre.MenorValorizacao.Valorizacao }}</span>
                                    <span class="text-gray-400 text-sm">Menor rentabilidade</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/saco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Semestre.MenorValorizacao.ResultadoComValorizacao  }}</span>
                                    <span class="text-gray-400 text-sm">Caixa</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/calendario.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado">{{ .dados_processados.Semestre.MenorValorizacao.Data }}</span>
                                    <span class="text-gray-400 text-sm">Data</span>
                                </div>
                            </div>
                        </div>
                        <div id="anos_resultado_processado" class="flex hidden justify-around sm:flex-col flex-row">
                            <div class="flex flex-col w-full sm:flex-row sm:mb-2 sm:justify-center gap-4">
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/pilha-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Ano.MaiorValorizacao.Valorizacao }}</span>
                                    <span class="text-gray-400 text-sm">Maior rentabilidade</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/saco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Ano.MaiorValorizacao.ResultadoComValorizacao  }}</span>
                                    <span class="text-gray-400 text-sm">Caixa</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/calendario.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado">{{ .dados_processados.Ano.MaiorValorizacao.Data }}</span>
                                    <span class="text-gray-400 text-sm">Data</span>
                                </div>
                            </div>
                            <div class="flex flex-col w-full sm:flex-row sm:justify-center gap-4">
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/pilha-pouco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Ano.MenorValorizacao.Valorizacao }}</span>
                                    <span class="text-gray-400 text-sm">Menor rentabilidade</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/saco-dinheiro.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold valor_resultado_info">{{ .dados_processados.Ano.MenorValorizacao.ResultadoComValorizacao  }}</span>
                                    <span class="text-gray-400 text-sm">Caixa</span>
                                </div>
                                <div class="flex flex-col w-full items-center bg-gray-700 p-4 rounded-md animate-fade-in">
                                    <img class="w-8 h-8 mb-2" src="/public/images/calendario.svg" alt="placeholder">
                                    <span class="text-white text-lg font-semibold">{{ .dados_processados.Ano.MenorValorizacao.Data }}</span>
                                    <span class="text-gray-400 text-sm">Data</span>
                                </div>
                            </div>
                        </div>
                        {{end}}
                        {{if .dados_calculo }}
                        <div id="grafico_wrapper_botao" class="flex mt-2 flex-col justify-center items-center w-full">
                            <button id="botao_ativar_grafico" type="submit" class="flex my-1 items-center animate-fade-in justify-center rounded-lg w-5/6 mx-1 bg-gray-700 text-gray-300 py-3 px-4 font-medium hover:bg-gray-600 hover:text-white transition-all duration-300">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 6h6m-6-12h6" />
                                </svg>
                                Vizualizar grafico de rentabilidade
                            </button>
                        </div>
                        {{end}}
                    </div>
                </div>
                <div
                    id="grafico_container"
                    class="absolute hidden top-0 left-0 overflow-auto bg-gradient-to-br from-gray-900 via-black to-gray-900 w-screen h-screen z-50 flex flex-col items-center justify-start text-white p-6">
                    <!-- Botão de fechar -->
                    <div id="grafico_fechar" class="absolute top-6 right-6 w-fit cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 100 100">
                            <line x1="10" y1="10" x2="90" y2="90" stroke="white" stroke-width="8" />
                            <line x1="90" y1="10" x2="10" y2="90" stroke="white" stroke-width="8" />
                        </svg>
                    </div>
                    <!-- Conteúdo -->
                    <div class="w-full max-w-4xl flex flex-col overflow-y-hidden items-center h-full space-y-6">
                        <h1 class="text-4xl font-bold text-gray-300 drop-shadow-md animate-fade-in h-fit">
                            Rentabilidade!
                        </h1>
                        <div id="resultadoGeralInfoPeriodo" class="w-full bg-gradient-to-r from-gray-800 h-fit via-gray-900 to-gray-800 p-4 rounded-lg shadow-xl">
                            <p class="text-center text-gray-200 text-lg">Aqui estão exibidos os detalhes do período selecionado.</p>
                        </div>
                        <div class="w-full bg-gray-800 p-4 rounded-lg shadow-xl flex-1 sm:h-fit h-5/6">
                            <canvas id="chartjs"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </main>
        <footer class="bg-neutral-900 text-gray-300 w-full h-20 flex flex-col justify-center items-center mt-auto">
            <div id="contato" class="text-center">
                <h2 class="text-lg font-semibold mb-1">Entre em contato</h2>
                <div class="flex space-x-4 justify-around">
                    <a href="https://github.com/KaduHod" target="_blank" class="hover:text-white">
                        <img
                        src="/public/images/github.svg"
                        alt="GitHub"
                        class="w-6 h-6 inline"
                        />
                    </a>
                    <a href="https://www.linkedin.com/in/carlosjrribas98/" target="_blank" class="hover:text-white">
                        <img
                        src="/public/images/linkedin.svg"
                        alt="LinkedIn"
                        class="w-6 h-6 inline"
                        />
                    </a>
                    <a href="mailto:carlosjr.ribas@gmail.com" class="hover:text-white">
                        <img
                        src="https://cdn.simpleicons.org/gmail/ffffff"
                        alt="Gmail"
                        class="w-6 h-6 inline"
                        />
                    </a>
                </div>
            </div>
        </footer>
        <script>
            const header = document.getElementsByTagName('header')[0];
            const headerHeight = header.offsetHeight;
            const main = document.getElementsByTagName('main')[0];
            main.style.paddingTop = `${headerHeight}px`;
        </script>
        <script src="/public/scripts/utils_financas.js" type="module"></script>
        <script src="/public/scripts/validarInputsFinancasV2.js" type="module"></script>
    </body>
</html>
{{ end }}
