{{ define "stream.tmpl" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HLS Stream</title>
        <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet">
    </head>
    <body>
        <h1>Reproduzindo HLS</h1>
        <video
            id="video"
            class="video-js vjs-default-skin"
            controls
            autoplay
            width="640"
            height="360"
            data-setup='{}'>
            <source src="public/videos/outputlist.m3u8" type="application/x-mpegURL">
        </video>
        <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    </body>
</html>
{{ end }}
